import(glmnet,pROC,ROCR,caTools)

export(adlearn)
export(adpstep)
export(codingMC)
export(cpdrank)
export(cvadlearn)
export(enrichf)
export(imeasure)
export(inbin)
export(rocauc)
export(targetcluster)
export(thredec)
